<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand d-flex align-items-center gap-2 fs-4 fw-semibold text-danger ms-4" href="/listings">
      <i class="fa-regular fa-compass fa-lg text-danger"></i> WanderLust
    </a>

    <!-- Custom Toggler -->
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars fa-lg text-danger"></i>
    </button>

    <!-- Collapsible Content -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="ms-auto navbar-nav d-flex flex-column flex-md-row align-items-start align-items-md-center gap-2 mt-3 mt-md-0">
        <a class="btn btn-danger px-4 py-2" href="/listings/new">WanderLust Your Home</a>
        <% if (currentUser) { %>
          <a class="btn btn-outline-secondary px-4 py-2" href="/logout">Log Out</a>
        <% } else { %>
          <a class="btn btn-outline-success px-4 py-2" href="/signup">Sign Up</a>
          <a class="btn btn-outline-dark px-4 py-2" href="/login">Log In</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
